.col-9{                  /* kontroliuoja logo vieta ir dyddi*/
    margin: auto;               
    text-align: center;
    padding-left: 100px;
    
}
.col-3{             /* button isdestymas*/
    padding-left: 100px;
}

.col-12{        /* karuseles atitraikimas is sonu */
    padding-top: 25px;          
    padding-left: 150px;
    padding-right: 150px;
   
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    margin:auto;
    display:block;
    display:block;
  }
